<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="false" bootstrap="tests/bootstrap.php">
  <testsuites>
    <testsuite name="ImboClientCli test suite">
      <directory>tests/ImboClientCli</directory>
    </testsuite>
  </testsuites>

  <logging>
    <log type="coverage-html" target="build/coverage" title="Code coverage for ImboClientCli" charset="UTF-8" yui="true" highlight="true" />
    <log type="coverage-clover" target="build/logs/clover.xml" />
    <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false" />
  </logging>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">library/ImboClientCli</directory>
    </whitelist>
  </filter>
</phpunit>
